.tile {
    border: 1px solid black;
    float: left;
}
.tile:hover {
    border: 1px solid red;
}
.tileContainer {
    top: 40px;
    position: absolute;
}
#video {
    visibility: hidden;
}
#controls {
    margin: 20px;
}